body {
    font-family: 'Trebuchet MS', sans-serif;
}

.everything {
    margin-left: 20%;
    margin-right: 20%;
    align-items: center;
    display: flex;
    justify-content: center;
}
/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #ffffff;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    padding-left: 25%;
    padding-right: 25%;
}
  
/* Links inside the navbar */
.navbar a {
    float: left;
    color: #f2f2f2;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

/* Main content */
.main_content {
    background: #bbbbbbfe;
    border-radius: 10px;
    text-align: center;
    margin-top: 100px; /* Add a top margin to avoid content overlay */
    height: 100%;
    width: 75%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    border-style: solid;
    padding-left: 1%;
    padding-right: 1%;
}

.list_div{
    display: inline-flex;
}

.list_div_image{
    margin: 2%;

}

.list_div_content{
    text-align: center;
    padding: 10px;
}

.list_div_image img{
    object-fit: contain;
}

.project_content{
    display: inline-flex;
}

.project_description{
    text-align: justify;
    padding-right: 50px;
}

.project_image{
    align-content: center;
    padding-left: 50px;
    padding-right: 50px;
}